<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tr th:each="author, stat : ${authors}"
            th:class="${stat.odd}? 'table-light':'table-dark'">
            <td th:text="${author.authorId}"></td>
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
        </tr>
    </table>
</div>
<a class="btn btn-primary" role="button" th:href="@{'/newAuthor'}">ADD Author</a>
</body>
</html>