<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Category name</th>
        </tr>
        </thead>
        <tr th:each="category, stat : ${categories}"
            th:class="${stat.odd}? 'table-light':'table-dark'">
            <td th:text="${category.id}"></td>
            <td th:text="${category.categoryName}"></td>
        </tr>
    </table>
</div>
<a class="btn btn-primary" role="button" th:href="@{'/newCategory'}">ADD Category</a>
</body>
</html>